.app.light {
    --bg-color: #ceced4;
    --inverted-bg-color: #0a0ab8;
    --primary-color: #041c65;
    --secondary-color: #0449e8;
    --inverted-primary-color: #028b02;
    --inverted-secondary-color: #04ff04;
}
